
body {
    margin: 0px;
    padding: 0px;
    font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
    min-width: 320px;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }

.clearfix { *zoom:1; }

input{
    padding: 0;
}

#wrapper{
    background: #fff;
    width: 100%;
}

a{
    text-decoration: none;
    color: #e71c41;
}

.btn{
    border:1px solid #e71c41;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-primary{
    background: #e71c41;
    color: #fff;
}
.btn-gray{
    border-color: #b7b7b7;
    background: #fff;
    color: #b7b7b7;
}
.form{
    width: 280px;
    margin: 0 auto;
}
.form .field{
    margin-bottom: 12px;
}
.mask{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal{
    display: none;
    position: absolute;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    top:140px;
    background: #fff;
    border-radius: 5px;
}
.modal .inner{
    font-size: 15px;
    margin: 20px 16px;
    line-height: 2;
}
.modal .btn-wrap{
    text-align: right;
    margin: 20px 16px;
}
.modal .btn-wrap .btn{
    width: 60px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 3px;
}

/**
 * loading
 */

#loading {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
#loading span {
  display: block;
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
}
#loading .loading-icon {
  margin-right: 4px;
  width: 14px;
  height: 14px;
    background: url(//img.alicdn.com/tps/i2/TB1sJiBKpXXXXbWXXXXEDhGGXXX-32-32.png) no-repeat 0 0;
    background-size: contain;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  -webkit-animation: rotate 1s linear infinite;
  /*Safari and Chrome*/
}


#successTip{
  display: none;
  width: 200px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -100px;
  top: 40%;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


/**
 * header
 */
#header{
    position: fixed;
    height: 44px;
    width: 100%;
    top:0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    z-index: 9;
}
#header .logo{
    display: block;
    width: 100px;
    height: 36px;
    margin-top: 4px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: contain;


}

#header .nav{
    position: absolute;
    top:0;
    left: 100px;
    right: 0;
    bottom: 0;
    text-align: center;
}
#header .nav a{
    display:block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 7px 0;
    text-align: center;
    color: #000;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #9d9d9d;
}


/*area select*/


.order-select-wrap{
    position: fixed;
    top:50px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #e8e8e8;
    display: none;
}
.order-select-wrap .arrow-top{
    position: absolute;
    width: 13px;
    height: 7px;
    top: -7px;
    left: 130px;
    background: url(../images/arrow-top.png) no-repeat 0 0;
    background-size: contain;
}
.order-select-wrap .item{
    float: left;
    width: 25%;
    line-height: 40px;
    text-align: center;
}
.order-select-wrap .cur{
    color: #fc3636;
}



.area-select-wrap{
    position: fixed;
    top:50px;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: scroll;
    background: #c4c4c4;
    display: none;
}
.area-select-wrap .arrow-top{
    position: absolute;
    width: 13px;
    height: 7px;
    top: -7px;
    right: 60px;
    background: url(../images/arrow-top.png) no-repeat 0 0;
    background-size: contain;
}
.area-select-wrap .zonelist{
    float: left;
}
.area-select-wrap .item{
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    background: #e8e8e8;
    border-bottom: 1px solid #9d9d9d;
}
.area-select-wrap  .cur{
    color: #fc3636;
}
.area-select-wrap .blocklist{
    float: left;
    margin-left: 2px;
    display: none;
}
.area-select-wrap .blocklist .item{
    background: #fff;
}


.city-select-wrap{
    position: fixed;
    top:50px;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: scroll;
    background: #c4c4c4;
    display: none;
}
.city-select-wrap .arrow-top{
    position: absolute;
    width: 13px;
    height: 7px;
    top: -7px;
    right: 60px;
    background: url(../images/arrow-top.png) no-repeat 0 0;
    background-size: contain;
}
.city-select-wrap .provincelist{
    float: left;
}
.city-select-wrap .item{
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    background: #e8e8e8;
    border-bottom: 1px solid #9d9d9d;
}
.city-select-wrap  .cur{
    color: #fc3636;
}
.city-select-wrap .citylist{
    float: left;
    margin-left: 2px;
    display: none;
}
.city-select-wrap .citylist .item{
    background: #fff;
}




.house-list .nodata{
    text-align: center;
    padding: 20px 0;
    color: #999;
}
.house-list .item{
    display: block;
    padding: 0 10px;
    color: #909090;
    border-bottom: 1px solid  #b7b7b7;
    margin-bottom: 15px;
}
.house-list .item .top{
    border-bottom: 1px solid  #b7b7b7;
}
.house-list .item .top img{
    width: 90px;
    height: 65px;
    float: left;
}
.house-list .item .top .info{
    margin-left: 100px;

}
.house-list .item .top .info h3{
    color: #000;
    font-size: 15px;
    margin: 0 0 5px 0;
    position: relative;
}
.house-list .item .top .info h3 .radio{
    position: absolute;
    top:0;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../images/icon-radio.png) no-repeat 0 0;
    background-size: contain;
}
.house-list .item.checked .top .info h3 .radio{
    background-image: url(../images/icon-radio-checked.png);

}
.house-list .item .top .info .icon-new{
    display: inline-block;
    width: 35px;
    height: 18px;
    background: url(../images/icon-new.png) no-repeat center center;
    background-size: contain;
}
.house-list .item .top .info .info-item{
    color: #909090;
    font-size: 12px;
    height: 25px;
}
.house-list .item .top .info .info-item .icon-increase{
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url(../images/icon-increase.png) no-repeat center center;
    background-size: contain;

}
.house-list .item .top .info .info-item label{
    margin-right: 6px;
    color: #909090;
}
.house-list .item .top .info .info-item .left{
    float: left;

}
.house-list .item .top .info .info-item .right{
    float: right;
    width: 100px;
}
.house-list .item .top .info .info-item span{
    color: #ea3a59;
    line-height: 20px;
}
.house-list .item .top .info .info-item strong{
    font-size: 18px;
    color: #ea3a59;
}
.house-list .item .top .info .info-item .orange{
    color: #ff8000;
}


.house-list .item .bottom{
    padding-bottom: 20px;
}

.house-list .item .bottom table{
    width: 100%;
}
.house-list .item .bottom i{
    width: 12px;
    height: 12px;
    margin-right: 2px;
    display: inline-block;
    background: url(../images/icon-radio.png) no-repeat 0 0;
    background-size: contain;
    vertical-align: middle;
}
.house-list .item .bottom .icon-checked{
    background-image: url(../images/icon-radio-checked.png);
}













