<h1>登录</h1>
<form action="/admin/login" class="login-form" method="post">

  <div class="item">
    <label for="username">账户：</label><input type="text" name="username"/>
  </div>
  <div class="item">
    <label for="password">密码：</label><input type="text" name="password"/>
  </div>

  <input type="submit" class="btn" value="登陆" />
</form>
