<% content_for :sidebar do%>
    <%= render :partial => 'deal_sidebar'%>
<% end %>

<%@list.each do |obj|%>
<p>
  <a href="/admin/company/deal?id=<%=obj.id%>"><%=obj.id%></a>
  <a href="/admin/company/deal_delete?id=<%=obj.id%>" onclick="return confirm_delete()">删除</a>
</p>
<%end%>
