<li><a href="/admin/system/company_add">添加</a></li>
<li><a href="/admin/system/companys">通过审核</a></li>
<li><a href="/admin/system/company_verify_list">待审核</a></li>
<li><a href="/admin/system/company_refuse">被拒绝</a></li>