<% content_for :sidebar do%>
    <%= render :partial => 'system/company_sidebar'%>
<% end %>

<%@list.each do |obj|%>
<p>
    <a href="/admin/system/company?id=<%=obj.id%>"><%=obj.name%></a>
</p>
<%end%>