.overview{
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.overview .img{
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 18px;
}
.overview .img img{
	width: 100%;
	height: 100%;
}

.overview h3{
	font-size: 24px;
	
}
.overview .des{
	position: absolute;
	bottom: 50px;
	left: 318px;
	line-height: 1.5;
	
}
.overview .price{
	position: absolute;
	top:60px;
	right: 48px;
	text-align: right;
	font-size: 16px;
}
.overview .price .em{
	font-size: 36px;
	color: #e61e40;
}
.overview .go-view{
	position: absolute;
	bottom:50px;
	right: 48px;
	color: #e61e40;
	border:1px solid #e61e40;
	padding: 0 15px;
	font-weight: bold;
	font-size: 18px;
}


.section{
	margin-bottom: 50px;

}

.section h3{
	font-size: 24px;
	margin-bottom: 10px;

}

.section table{
	border: 1px solid #ccc;
	border-right: 0;
	border-bottom: 0;
	width: 100%;

}
.section table tr td{
	border-bottom:1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 15px;
}
.section table tr td.label{
	width: 15%;
}

.section table tr td.field{
	width: 35%;
}

.image-list{
    position: relative;
}

.image-list .prev{
    position: absolute;
    top:50%;
    margin-top:-10px;
    left: 0;
    width: 30px;
    height: 40px;
    background: url(../../images/arrow-left.png) no-repeat center center;
    background-size: contain;
    display: none;
}

.image-list .next{
    position: absolute;
    top:50%;
    margin-top:-10px;
    right: 0;
    width: 30px;
    height: 40px;
    background: url(../../images/arrow-right.png) no-repeat center center;
    background-size: contain;
}
.image-list .image-wrap{
    min-height: 100px;
    margin: 50px;
    overflow: hidden;
}
.image-list .item{
    width: 220px;
    float: left;
    text-align: center;
}
.image-list .item img{
    width: 200px;
    cursor: pointer;
}
