<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="robots" content="none" />
    <meta name="author" content="Papeng Inc." />
    <meta name="copyright" content="Papeng Inc." />
    <title>Admin</title>
    <%= render :partial => 'common/layout_admin_source'%>
    <%= yield :head %>
</head>
<body>

<div id="header">
    <%= render :partial => 'system/top'%>
</div>
<div id="toper"></div>
<div id="body">
    <div id="left">
        <ul>
            <%= yield :sidebar %>
        </ul>
    </div>
    <div id="right">
        <%= yield %>
    </div>
</div>

</body>
</html>
