<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="robots" content="none" />
    <meta name="author" content="Papeng Inc." />
    <meta name="copyright" content="Papeng Inc." />
    <title>Admin</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/common.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin.css" media="all" />
    <script type="text/javascript" src="/javascripts/jquery/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
    <%= yield :head %>
</head>
<body>


<div id="login">
    <%= yield %>
</div>

</body>
</html>
