<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="robots" content="none" />
    <meta name="author" content="Papeng Inc." />
    <meta name="copyright" content="Papeng Inc." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>房产趴砰网</title>
    <link type="text/css" rel="stylesheet" href="/wx/static/base.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/wx/static/reg/style.css" media="all" />
    <script type="text/javascript" src="/wx/static/lib/jquery.js"></script>
    <script type="text/javascript" src="/wx/static/utils.js"></script>
    <script type="text/javascript" src="/wx/static/reg/index.js"></script>
    <%= yield :head %>
</head>
<body>

    <%= yield %>

</body>
</html>
